* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-container: #d3b2fd;
  --bg-span: #fdfffe;
  --playerX-purple: #8427ff;
  --playerO-aqua: #347fc4;
}

body {
  color: #545454;
  background-color: #f6e6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
}

.container {
  background-color: var(--bg-container);
  margin: 2rem auto; 
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center; 
}

.container .title {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--playerX-purple);
}

.container .title span {
  color: var(--playerO-aqua);
}

.players {
  display: flex;
  margin: 10px;
  font-size: 25px;
  transform: translateX(-10px);
}

label {
  width: fit-content;
  transform: translateX(27px);
  border-right: 2px solid #767676;
  padding: 1px 2px 0 0;
  font-weight: bolder;
}

label:nth-of-type(1) {
  color: var(--playerX-purple);
}

label:nth-of-type(2) {
  color: var(--playerO-aqua);
}

input {
  border: 2px solid #767676;
  border-radius: 0.5rem;
  padding-left: 30px;
  font-size: 20px;
}

button#start {
  padding: 10px 20px;
  background-color: #9544ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button#start:hover {
  background-color: var(--playerX-purple);
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#gameBoard .cursor-pointer,
.x,
.o {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  background-color: var(--bg-span);
  filter: drop-shadow(0 0 20px #1212124e);
  border-radius: 5px;
  font-size: 3.25rem;
  cursor: default;
}

#gameBoard .cursor-pointer:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#gameBoard .x {
  color: var(--playerX-purple);
}

#gameBoard .o {
  color: var(--playerO-aqua);
}

#gameBoard span.x.win {
  animation: blink 1s infinite;
  border: 2px solid var(--playerX-purple);
}

#gameBoard span.o.win {
  animation: blink 1s infinite;
  border: 2px solid var(--playerO-aqua);
}

.input-error {
  animation: shake 0.5s;
  border: 2px solid red !important;
}

/* Media query para dispositivos com largura menor que 600px */
@media (max-width: 600px) {
  .container {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .players {
    flex-direction: column;
    margin: 10px 30px;
  }

  label {
    font-size: 20px;
    transform: translate(5px, 26px);
  }

  label:nth-of-type(1) {
    transform: translate(6px, 26px);
    padding-right: 3.4px;
  }

  label:nth-of-type(2) {
    color: var(--playerO-aqua);
  }

  button#start {
    margin-top: 5px;
    font-size: 14px;
  }
}

/* Animações */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes blink {
  50% {
    border: 2px solid var(--bg-span);
  }
}
